@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$primary : hsl(26, 100%, 55%);
$secondary : hsl(25, 100%, 94%);
$danger :   hsl(223, 64%, 98%);
$warning:  hsl(219, 9%, 45%);


$font-family-sans-serif : 'Kumbh Sans', sans-serif;

$border-radius : 15px;

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/venobox/dist/venobox.min.css";

p{
  font-size: 16px !important;
}

h1{
  font-size:34px !important;
}

.nav-border-bottom{
  border-bottom: 1px solid #80808080;
}

.img-thumb{
  transition: 0.3s;
}
.img-thumb:hover{
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
